apparmor==3.0.0
appdirs==1.4.4
application-utility==1.3.2
asn1crypto==1.4.0
attrs==20.2.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
btrfsutil==1.2.0
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.1.1
caffeine-ng==3.4.2
cffi==1.14.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.2.1
distlib==0.3.1
distro==1.5.0
docker==4.3.1
docker-compose==1.27.4
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dominate==2.6.0
duplicity==0.8.16
ewmh==0.1.6
fasteners==0.15
filelock==3.0.12
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
future==0.18.2
gestures==0.2.2
google-api-core==1.22.4
google-api-python-client==1.12.3
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gufw==20.4.0
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
isc==2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
layoutswitcherlib==0.8.15
LibAppArmor==3.0.0
louis==3.15.0
Mako==1.1.3
Markdown==3.3
MarkupSafe==1.1.1
monotonic==1.5
msgpack==1.0.0
npyscreen==4.10.5
oauth2client==4.1.3
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
paramiko==2.7.2
pep517==0.8.2
Pillow==7.2.0
ply==3.11
progress==1.5
protobuf==3.12.4
psutil==5.7.3
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
PyDrive==1.3.1
PyGObject==3.38.0
PyNaCl==1.4.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.17.3
pysmbc==1.0.20
python-dotenv==0.15.0
python-xlib==0.28
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.55
requests==2.24.0
requests-file==1.5.1
resolvelib==0.4.0
retrying==1.3.3
rsa==4.6
setproctitle==1.1.10
six==1.15.0
soupsieve==2.0.1
speedtest-cli==2.1.2
team==1.0
texttable==1.6.3
tldextract==3.0.2
toml==0.10.2
ueberzug==18.1.6
ufw==0.36
uritemplate==3.0.1
urllib3==1.25.10
vboxapi==1.0
virtualenv==20.1.0
visitor==0.1.3
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
zipp==3.4.0
