{% extends "base.html" %}
{% from 'bootstrap/wtf.html' import form_field %}

{% block title %} Edit your profile {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Make your changes </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                {% for field in form.display %}                    
                    {{ form_field(form[field]) }}
                {% endfor %}
                <input type="submit" value="Update" class="btn btn-primary">
                <button class="btn btn-secondary" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}