{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">GoOutSafe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse right" id="navbarCollapse">
            {% block navbar_links %}
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse right" id="navbarCollapse">
            <form class="form-inline mt-3 mt-md-0" method="GET" action="/search">
                <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
                <select class="form-control mr-sm-2" name="filters">
                    <option>Name</option>
                    <option>City</option>
                    <option>Menu Type</option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div>
            {% block navbar_profile_links %}
                <a href="">Profile</a>
            {% endblock %}
        </div>
    </nav>
{% endblock %}