{% extends "components/navbar/base_navbar.html" %}

{% block navbar_links %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('restaurants.my_restaurant') }}">My Restaurant</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reservation.reservation_all') }}">My Reservations</a>
        </li>
    </ul>
{% endblock %}
{% block navbar_profile_links %}
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ url_for('auth.logout') }}">Logout</a>
        <a class="btn btn-info" href="{{ url_for('auth.operator', op_id=current_user.id) }}">My Profile</a>
        <a class="btn btn-secondary" href="{{ url_for('auth.notifications') }}">Notifications</a>
    </div>
{% endblock %}